__init__.py
*.pyc
Information/**
NtupleMakerOutput/
Ntupler_localgrid
BTagHistosPtEta/
LocalGridSubmission/SubmitScripts/**/**
NtupleAnalyzer
myOutput/**
config/*analyzer*
*.txt
config/*.xml
config/*.root
MVA*/*
Ntupler
Ntupler_an
Ntupler_mwt
Trigger.*
*.root
